<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
    <h1>web技術　課題</h1>

    <% require 'pg' %>

    <% connection = PG::connect(dbname: "goya") %>
    <% connection.internal_encoding = "UTF-8" %>

    <% result = connection.exec("select * from crops where not(give_for = '自家消費');") %>
    <% date = [] %>

    <% result.each do |record| %>
      <%  date << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>

       下記のボタンを押すと、譲渡先が自家消費でないもののゴーヤの情報を載せたページが表示されます。
    <br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
    <input type="text" name="goya" value="<%= date.join(' ') %>">
    <input type="submit" name="送信" >
    <form action="goya.cgi" method="POST">
    </form>
    <br><br>
<!-- ボタンを押すと、譲渡先が自家消費ではないもののgoyaの情報を載せたページが表示される機能を実装すること
select * from crops where not(give_for = '自家消費'); -->

    <% result = connection.exec("select * from crops where quality = false;") %>
    <% date = [] %>

    <% result.each do |record| %>
      <%  date << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
    <% end %>

<!-- ボタンを押すと、品質が悪いもの（false）のgoyaの情報を載せたページが表示される機能を実装すること
select * from crops where quality = false;
 -->

       下記のボタンを押すと、品質が悪いもの（false）のgoyaの情報を載せたページが表示されます。
    <br><br>
       <!-- valueには、送りたいデータを代入する -->
       <!-- name="goya"を、情報の目印とする -->
    <input type="text" name="goya" value="<%= date.join(' ') %>">
    <input type="submit" name="送信" >
    <form action="goya.cgi" method="POST">
    </form>
  </body>
</html>